* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 1rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 60em;

  background: white;
  color: black;

  font-family: Noto Sans, sans-serif;
}

select, input, button {
  font-size: 1em;
}

input {
  border: 1px solid #ccc;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h1 > span {
  font-weight: 400;
  font-size: 1.125rem;
}
h1 > span a {
  margin-right: 0.5em;
}
h1 > span a b {
  font-weight: 600;
}

.author {
  font-size: 0.825rem;
  font-weight: 400;
}

#title a {
  background: none;
  margin-right: 0.5em;
}

a {
  color: black;
  text-decoration: none;
  background: #fffccc;
}
a:hover {
  border-bottom: 0.1em solid;
  background: #fffc7d;
}
a:active {
  opacity: 0.4;
}

p {
  margin: 0 0 1.5rem;
}

label {
  font-weight: bold;
  cursor: pointer;
}

button, .button {
  display: inline-block;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding: 2px 4px;
  color: black;

  font-weight: 500;
  vertical-align: middle;
}
button, .button, button:hover, .button:hover, .button:visited {
  background: #f0f0f0;
  border: 1px solid #aaa;
  border-bottom-width: 3px;
  cursor: default;
  color: black;
}
button:active, button.pressed, .button:active, .button.pressed {
  border-bottom-width: 1px;
  border-top-width: 2px;
  background: #e0e0e0;
  color: black;
  opacity: 1;
}

.export-link {
  margin-left: 2px;
  margin-top: 2em;
  margin-right: 1em;
}

main {
  flex: 1;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 50% 50%;
}

/* .preview-container {
  grid-area: preview;
} */

.preview-container {
  grid-column: 1;
  grid-row: 1;
}

#side {
  display: flex;
  flex-direction: column;
  /* grid-area: editor; */
  grid-column: 2;
  grid-row: 1;
}

#editor {
  border: 1px solid #bbb;
  flex: 1;
}

.cm-editor {
  height: 100%;
}

.cm-content {
  font-family: Noto Sans, sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    min-height: 50rem;
  }

  main {
    grid-template-columns: auto;
  }

  #side {
    grid-column: 1;
  }

  .preview-container {
    grid-column: 1;
    grid-row: 2;
  }
}
